@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 bg-base-200 text-base-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout-container {
  @apply w-full lg:container lg:mx-auto;
}


